<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="rgb(165, 255, 195);" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" href="/css/favicon.png" />
    <title>PHOENIXWARE</title>
  </head>
  <body>

    <div class="headerContainer">
      <a class="textBig">🎮 PHOENIXWARE</a>
    </div>

    <div class="centerContainer">
      <a id="injectBtn" class="button">Inject PHOENIXWARE</a>

    <a id="output" class="textBig"></a><br>
    <a class="textBig">Toggle Buttons</a>
    <a id="flashBtn" class="button">No flash</a>
    <a id="radarBtn" class="button">Radar</a>
    <a id="glowBtn" class="button">Glow</a>
    <a id="triggerBtn" class="button">Trigger</a>
  </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="/clientside/jquery-3.2.1.min.js"></script>
    <script src="/clientside/timer.js"></script>
    <script src="/clientside/clicks.js"></script>
    <script src="/clientside/hack.js"></script>

  </body>

</html>
